.user-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin: 50px;
}

.individual-detail {
	display: flex;
	flex-direction: column;
	padding: 10px;
	background-color: beige;
}

.image-container {
	display: flex;
	gap: 20px;
	margin-bottom: 50px;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 20px;
}
