.add-details-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.add-details-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
